@model IEnumerable<AptekaFramework.Models.payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_method)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment_time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_method)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment_time)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_payment }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_payment }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_payment })
        </td>
    </tr>
}

</table>
