@model AptekaFramework.Models.order_med

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>order_med</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.medicine.med_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medicine.med_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_order_med }) |
    @Html.ActionLink("Back to List", "Index")
</p>
