@model IEnumerable<AptekaFramework.Models.order_med>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.medicine.med_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.order_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.medicine.med_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.order_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.order_med_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.order_med_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.order_med_ID })
        </td>
    </tr>
}

</table>
