@model AptekaFramework.Models.medicine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vendor.vend_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor.vend_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_int)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_int)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_cat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_quant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_quant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.med_receipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.med_receipt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.med_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
