@model AptekaFramework.Models.vendor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vendor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vend_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vend_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vend_adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vend_adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vend_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vend_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_vend }) |
    @Html.ActionLink("Back to List", "Index")
</p>
