@model IEnumerable<AptekaFramework.Models.vendor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vend_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vend_adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vend_phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vend_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vend_adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vend_phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.vend_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.vend_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.vend_ID })
        </td>
    </tr>
}

</table>
